.user-item {
    background: white;
    margin: 0.3rem 0;
    padding: 0.3rem 1rem;
    border-radius: 0.1em;
    border: thin solid rgba(128, 128, 128, 0.478);
    font-size: small;
    cursor: pointer;
}